.header {
  font-size: 18px;
  line-height: 1;
  color: var(--white);
}

/* HEADER TOP */

.header__top {
  position: relative;
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--black);
}

.header__logo,
.header__enter-link,
.header__search-btn {
  flex-shrink: 0;
}

.header__logo {
  width: 173px;
}

.logo__img {
  display: block;
  width: 100%;
}

.header__container,
.header__nav,
.header__nav-list {
  display: flex;
  align-items: center;
}

.header__container {
  position: relative;
  justify-content: space-between;
}

.header__burger {
  display: none;
}

.header__nav {
  justify-content: space-between;
  width: calc(1250 / 1600 * 100%);
}

.header__nav.is-opened {
  display: flex;
  animation-name: menu-open;
  animation-duration: var(--medium);
}

.header__nav.is-closed {
  animation-name: menu-close;
  animation-duration: var(--medium);
}

.header__nav-list {
  flex-wrap: wrap;
  width: calc(1150 / 1250 * 100%);
}

.header__nav-item {
  margin-right: 63px;
}

.header__nav-link {
  font-weight: 600;
}

.header__links-wrap {
  display: flex;
  flex-wrap: wrap;
  width: calc(75 / 1250 * 100%);
}

.header__enter-link {
  transition: color var(--short);
}

.header__enter-wrap {
  display: flex;
  overflow: hidden;
  align-items: baseline;
  transition: margin-left var(--short), padding-left var(--short);
}

.header__enter-svg {
  position: relative;
  margin-right: 2px;
  transform: translateX(-4px);
}

.header__enter-link:hover .header__enter-wrap,
.header__enter-link:active .header__enter-wrap {
  margin-left: -4px;
  padding-left: 4px;
}

/* HEADER_BOTTOM */

.header__bottom {
  background-color: var(--transparent-dark-4);
}

.header__bottom-list {
  display: flex;
  flex-wrap: wrap;
  width: calc(1250 / 1600 * 100%);
}

.header__bottom-item {
  position: relative;
  margin-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__bottom-btn {
  color: inherit;
  text-align: left;
}

.header__bottom-btn.is-active .header__bottom-link-text::after {
  transform: translate(5px, calc(-50% + 4px)) rotate(225deg);
}

.header__bottom-link-text {
  padding-right: 5px;
}

.header__bottom-link-text::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  transition: transform var(--short);
  transform: translate(5px, calc(-50% + 1px)) rotate(45deg);
}

.header__search {
  position: absolute;
  right: var(--container-padding);
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  color: var(--white);
  transform: translateY(calc(100% + 30px + 25px));
}

.header__search.is-opened {
  display: flex;
  animation-name: search-open;
  animation-duration: var(--short);
}

.header__search.is-closed {
  animation-name: search-close;
  animation-duration: var(--short);
}

.header__search-input {
  width: 220px;
  padding: 0;
  padding-bottom: 2px;
  border: none;
  border-bottom: 1px solid var(--white);
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  transform: border-color var(--short);
}

.header__search-input::placeholder {
  color: inherit;
}

.header__search-input:hover {
  border-color: var(--violet-light);
}

.header__search-input:focus {
  border-color: var(--violet-dark);
  outline: none;
}

.header__search-input:focus::placeholder {
  opacity: 0;
}

.header__search-btn {
  display: flex;
  margin-right: 9px;
  color: inherit;
}

.header__search-btn::before {
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
}

.header__search-btn--open,
.header__search-btn--close {
  display: none;
}

/* DROPDOWN */

.header__dropdown {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  padding: 40px 20px 40px 40px;
  background-color: var(--transparent-dark-6);
  transform: translateY(100%);
}

.header__dropdown-wrap {
  width: 240px;
  max-height: 220px;
}

.header__dropdown.is-active {
  display: block;
  animation-name: dropdownOpen;
  animation-duration: 0.4s;
}

.header__dropdown.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: 0.4s;
}

.header__dropdown-item {
  width: 220px;
}

.header__dropdown-item:not(:last-child) {
  margin-bottom: 22px;
}

.header__dropdown-link {
  position: relative;
  display: block;
  padding: 10px 13px;
  border: 2px solid transparent;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: var(--white);
  background-color: var(--black);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  background-size: cover;
  transition: border-color var(--short);
}

.header__dropdown-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: var(--violet-rgba);
  transition: opacity var(--short);
}

.header__dropdown-link-text {
  position: relative;
}

.header__dropdown-link:hover,
.header__dropdown-link:focus {
  border-color: var(--violet);
  outline: none;
}

.header__dropdown-link:active {
  border-color: var(--pink-light);
  background-color: var(--violet-rgba);
}

.header__dropdown-link:active::before {
  opacity: 1;
}

.header__dropdown .simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: var(--black);
}

.header__dropdown
  .simplebar-track.simplebar-vertical
  .simplebar-scrollbar::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  background-color: var(--white);
}

/* MEDIA */

@media (max-width: 1600px) {
  .header__nav-item {
    margin-right: 45px;
  }

  .header__bottom-item {
    margin-right: 55px;
  }
}

@media (max-width: 1280px) {
  .header__burger {
    position: relative;
    z-index: 2;
    display: block;
  }

  .header__logo {
    width: 186px;
    height: 40px;
  }

  .header__bottom {
    display: none;
  }

  .header__nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 96px;
    padding-right: var(--container-padding);
    padding-bottom: 50px;
    padding-left: var(--container-padding);
    background-color: var(--transparent-dark-9);
  }

  .header__nav-list {
    overflow-y: auto;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    margin-bottom: 55px;
    font-size: 24px;
    line-height: 64px;
  }

  .header__nav-item {
    margin-right: 0;
  }

  .header__enter-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 257px;
    padding: 20px;
    border: 2px solid var(--violet);
    border-radius: 100px;
    transition: color var(--short), background-color var(--short);
  }

  .header__enter-link.link::before {
    display: none;
  }

  .header__enter-link:focus:not(:hover):not(:active) {
    background-color: var(--violet);
  }

  .header__search {
    bottom: 5px;
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    width: 314px;
    transform: translateY(0);
  }

  .header__search-input {
    width: 218px;
    margin-right: 24px;
  }

  .header__search-input::placeholder {
    opacity: 0;
  }

  .header__search-input,
  .header__search-btn--close {
    order: 1;
  }

  .header__search-btn {
    flex-shrink: 0;
    width: 29px;
    height: 29px;
    margin-right: 10px;
  }

  .header__search-btn--open {
    display: block;
    margin-right: 0;
    transition: opacity var(--short);
  }

  .header__search-btn--close {
    display: block;
    width: 23px;
    height: 23px;
    margin-right: 7px;
  }
}

@media (max-width: 970px) {
  .header__search {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    padding-right: var(--container-padding);
    padding-left: var(--container-padding);
    background-color: var(--black);
  }

  .header__search-input {
    flex-grow: 1;
    width: auto;
  }

  .header__search-btn--close {
    width: 27px;
    height: 27px;
    margin-right: 0;
  }
}

@media (max-width: 610px) {
  .header__top {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .header__nav {
    padding-top: 46px;
    padding-bottom: 27px;
  }

  .header__nav-list {
    font-size: 16px;
    line-height: 2;
  }

  .header__enter-link {
    width: 115px;
    padding: 10px;
    font-size: 12px;
  }

  .header__enter-svg {
    width: 12px;
    height: 9px;
    transform: translateX(-3px);
  }

  .header__logo {
    width: 97px;
    height: 21px;
  }

  .header__search {
    align-items: flex-end;
    justify-content: center;
    height: 75px;
    padding-bottom: 20px;
    background-color: var(--transparent-dark-9);
  }

  .header__search-input {
    flex-grow: 0;
    width: calc(180 / 290 * 100%);
    margin-right: 0;
    padding-bottom: 0;
    font-size: 14px;
  }

  .header__search-btn {
    width: 18px;
    height: 18px;
    margin-right: 0;
  }

  .header__search-btn--submit {
    top: 4px;
    right: 4px;
  }

  .header__search-btn--close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
  }
}
